.git/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.sqlite3
media/
staticfiles/
.DS_Store
.vscode/
.idea/
.env
.github/
terraform/
.dockerignore
.env.example
.gitignore
deploy.sh
docker-compose.yml
Dockerfile
grafana.ini
nginx.conf
prometheus.yml
